<div class="container">
    <section class="joinnow">
        <div class="container login col-lg-5 m-auto shadow-lg">
            <form>
                <div id="loginLogo"class="logo logo-dark text-center">
                    <a class="navbar-brand" href="#">
                        <!-- <img src="../../assets/img/logo-sm.png" alt="" height="28"> -->
                        <b><label>Crowd-Funding</label></b>
                    </a>
                <p class="text-muted mb-4 mt-3">Enter your email address and password to access.</p>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" placeholder="Enter correct Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" placeholder="Type Password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                        <label class="custom-control-label" for="checkbox-signin"> Remember me</label>
                    </div>
                </div>
                <form method="get" action="#">
                    <button type="submit" class="btn btn-primary col-lg-3">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary col-lg-3" >Sign Up</button>
                </form>
            </form>
        </div>
    </section>
    </div>
